* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter' , sans-serif;
}

header {
  padding: 10px  20px;
}

body {
  background-color: #f7fbff;
  color: #1a1a1a;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
  font-size: 19px;

}

.logo strong {
  color: #007bff;
}

.logo p {
  font-size: 17px;
  color: #545957;
}


.book {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #007bff;
  padding: 10px 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
  position: fixed;
  padding:0 20px;
  z-index: 1000;
  right: 0;
  left: 0;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;

}

.nav-list li {
  list-style: none;
  align-items: center;
}

 a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #007bff;
}
/* hero section */
.sec {
  background-image: url('/images/ryanmcguire-laundry-saloon-567951.jpg');
  /* background-image: url('/images/Home\ Service\ House\ Cleaning\ And\ Laundry\ Wash\,\ House\,\ Service\,\ Clean\ PNG\ Transparent\ Image\ and\ Clipart\ for\ Free\ Download.jpeg'); */
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin-top: 85px;
  position: relative;
}

.hero {
  padding: 50px 60px;
  z-index: 999;
  width: 100%;
}

.hero-text {
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 40px;
  width: 450px;
  margin-bottom: 10px;
}

.hero-text .door {
  color: #007bff;
}

.hero-text .clean{
  width: 350px;
  font-size: 18px;
  line-height: 30px;
}

.book-flex {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.book-2 ,
.whatsapp{
  display: flex;
  gap: 15px;
  align-items: center;
}

.book-2 {
  background-color: #007bff;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
}

.book-2 svg {
  fill: white;
}

.whatsapp {
  background-color: white;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid #007bff;
}
.whatsapp svg {
  fill: #007bff;
}

.pick-up {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.fast-svg,
.quality-svg,
.on-time-svg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quality-svg p,
.on-time-svg p {
  color: #007bff;
}

.fast-svg h3,
.quality-svg h3,
.on-time-svg h3{
  font-size: 25px;
  color: #1a1a1a;
}

.fast-svg  svg,
.on-time-svg svg ,
.quality-svg svg {
  background: #f7fbff;
  padding: 15px;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}


.backdrop {
  width: 100%;
  height: 100%;
  background-color: #007bff23;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 25px;
  }

  .nav-list .book {
    margin: 0;
    font-size: 15px;
    gap: 5px;
  }

  .logo h1 p {
    font-size: 15px;
  }

  .logo svg {
    width: 40px;
    height: 40px;
  }

  .book svg{
    display: none;
  }

  .sec {
    margin-top: 80px;
    height: 100vh;
  }

  nav {
    padding: 10px;
    /* text-align: center; */
  }

  .hero {
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 25px;
  }

  .hero-text .clean {
    font-size: 15px;
    width: 250px;
  }

  .book-flex {
    flex-direction: column;
    align-items: center;
  }

  .whatsapp {
    padding: 10px 30px;
  }

  .whatsapp h2 {
    font-size: 20px;
  }

  .book-2 h2{
    font-size: 20px;
  }

  /* .book-2 svg{
    height: 30px;
    width: 30px;
  } */

  .pick-up {
    flex-direction: column;
  }

  .fast-svg svg{
    width: 50px;
    height: 50px;
  }

  .quality-svg svg,
  .on-time-svg svg {
    width: 50px;
    height: 50px;
  }

  .pick-up-text .within{
    color: #f7fbff;
  }
}

 @media (max-width: 900px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 .nav-list{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:#0EA5A4;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  .nav-list.active {
    left: 0;
  }

   /* nav p {
    background-color: white;
    color: #333;
    padding: 10px 30px;
    margin: 10px 200px;
  } */
} 